/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 1em;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  padding: 20px;
  background-color: #f4f4f4;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

article {
    max-width: 800px;
    margin: 20px auto;
    padding: 50px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
  }

.recipe-img {
  width: 700px;
  height: auto;
}

h1 {
  margin: 20px auto;
}

.footer {
    margin-top: 20px;
    padding-top: 20px;
  }


.copyright {
    text-align: center;
    font-weight: bold;
}

